.header {
  position: relative;
  z-index: -99;

  &__bg {
    background-image: url('../img/bg-desktop-light.jpg');
    background-size: cover;
    height: 45vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;

    @include respond(port) {
      height: 19vh;
    }

    @include respond(phone) {
      background-image: url('../img/bg-mobile-light.jpg');
    }
  }
}

.dark {
  .header {
    &__bg {
      background-image: url('../img/bg-desktop-dark.jpg');

      @include respond(phone) {
        background-image: url('../img/bg-mobile-dark.jpg');
      }
    }
  }
}
