.filter {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  height: 5rem;
  background-color: #fff;
  box-shadow: $shadow-bottom-side;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include respond(phone) {
    position: relative;
  }

  &__sort {
    display: flex;

    @include respond(phone) {
      width: 100%;
      height: 5rem;
      background-color: #fff;
      border-radius: 6px;
      position: absolute;
      transform: translateY(7rem);

      justify-content: center;
    }
  }

  &__btn--side {
    color: $dark-grayish-blue-1;
    font-size: 1.4rem;
    font-weight: 400;
    padding: 0 2rem;
    transition: all 0.2s;

    &:hover {
      color: $very-dark-grayish-blue-1;
    }
  }

  &__btn--center {
    color: $dark-grayish-blue-1;
    font-size: 1.4rem;
    font-weight: 700;
    padding: 0 1rem;
    transition: all 0.2s;

    // Only target mouse and touchpad device
    // Source: https://ferie.medium.com/detect-a-touch-device-with-only-css-9f8e30fa1134
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: $very-dark-grayish-blue-1;
      }
    }
  }

  &__btn--current {
    color: $bright-blue;
  }
}

//  MODIFIER FOR DARK MODE
.dark {
  .filter {
    background-color: $very-dark-desaturated-blue;

    &__sort {
      @include respond(phone) {
        background-color: $very-dark-desaturated-blue;
      }
    }

    &__btn--side {
      color: $very-dark-grayish-blue-2;

      &:hover {
        color: $light-grayish-blue-2;
      }
    }

    &__btn--center {
      color: $very-dark-grayish-blue-2;

      &:hover {
        color: $light-grayish-blue-2;
      }
    }

    &__btn--current {
      color: $bright-blue;
    }
  }
}
