.filter {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  height: 5rem;
  background-color: #fff;
  box-shadow: $shadow-bottom-side;

  display: flex;
  justify-content: space-between;
  align-items: center;
  // position: relative;

  &__sort {
    display: flex;
    // margin-top: 400px;
    // position: absolute;
    // width: 100%;
    // justify-content: center;
  }

  &__btn--side {
    color: $dark-grayish-blue-1;
    font-size: 1.4rem;
    font-weight: 700;
    padding: 0 2rem;
    transition: all 0.2s;

    &:hover {
      color: $very-dark-grayish-blue-1;
    }
  }

  &__btn--center {
    color: $dark-grayish-blue-1;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 0 1rem;
    transition: all 0.2s;

    &:hover {
      color: $very-dark-grayish-blue-1;
    }
  }

  &__btn--current {
    color: $bright-blue;
  }
}
