.todo {
  width: 51.5%;
  max-width: 540px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 8rem 0;

  @include respond(tab-land) {
    width: 65%;
  }

  @include respond(tab-port) {
    width: 75%;
  }

  @include respond(phone) {
    width: 85%;
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    letter-spacing: 1.4rem;
    text-transform: uppercase;
  }

  &__button {
    height: 100%;
    width: auto;
    transition: all 0.2s;
    opacity: 1;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }

  &__text {
    font-size: 1.35rem;
    margin-top: 5rem;
    text-align: center;
    color: $dark-grayish-blue-1;

    @include respond(phone) {
      margin-top: 10rem;
    }
  }
}

//  MODIFIER FOR DARK MODE
.dark {
  .todo {
    &__text {
      color: $very-dark-grayish-blue-2;
    }
  }
}
