*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%; // 10px

  @include respond(tab-land) {
    font-size: 56.25%; // 1rem = 9px
  }

  @include respond(tab-port) {
    font-size: 50%; // 1rem = 8px
  }

  @include respond(big-desktop) {
    font-size: 75%; // 1rem - 12px
  }

  // hide scrollbar
  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  box-sizing: border-box;
  background-color: $very-light-gray;
}

// for dark/light mode transition, exclude .list__sortable-wrapper (for sortable animation)
* :not(.list__sortable-wrapper),
* ::before,
* ::after {
  transition: all 0.2s;
}

// change the caret color ( | )
input,
[contenteditable] {
  caret-color: $bright-blue;
}

// remove button styling
button,
input[type='submit'],
input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  -webkit-tap-highlight-color: transparent;
}

//  MODIFIER FOR DARK MODE
.dark {
  background-color: $very-dark-blue;
}
