@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

html {
  font-family: 'Josefin Sans', sans-serif;
}

.heading-primary {
  font-size: 4rem;
  color: $very-light-gray;
  margin-bottom: 2rem;
}
